<div class="add-contact-wrapper subpage-wrapper">

	<nav class="subpage-topbar">
		<a href="#" class="btn-back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
		<h2>НОВЫЙ КЛИЕНТ</h2>
		<a href="#/" class="btn-home"><i class="fa fa-home" aria-hidden="true"></i></a>	
	</nav>


	<div class="main">
		<div class="contact-header clearfix">
			<form class="add-client-form">
				<input type="image" name="image" src="http://via.placeholder.com/50x50">
				<input type="text" name="name">
				<input type="phone" name="">


			</form>
			<!-- <img src="http://via.placeholder.com/150x150">			
			<div class="basic-info">
				<h1>{{clientCard.client.name}}</h1>
				<h5>{{clientCard.client.phone}}</h5>
				<div class="hair-info">
					<p>Натуральный тон: {{clientCard.client.natural_tone}}</p>
					<p>% седины: {{clientCard.client.grey_perc}}</p>
				</div>	
			</div>
			
			<div class="reach-client">
				<a href=""><i class="fa fa-phone" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
			</div> -->
		</div>
		

	</div>


</div>