<div class="add-colouring-wrapper subpage-wrapper">

	<nav class="subpage-topbar">
		<h3 class="subpage-heading">НОВОЕ ОКРАШИВАНИЕ</h3>
		<a href="#" class="btn-simple btn-back align-left"></a>
		<h4>{{client_name}}</h4>
		<a href="#/" class="btn-simple btn-save align-right"></a>
	</nav>
	<div class="subpage-content">

		<!-- <input type="number" name="price"> -->
		<div class="color-info">
			<span class="color-info-heading">Краска<i class="fa fa-paint-brush" aria-hidden="true"></i></span>
			<ul>
				<li class="chem-element" ng-repeat="color in colors">
						<!-- <p><strong>Название краски: </strong>{{color.name}}</p> -->
						<!-- <p><strong>№: </strong>{{color.color_num}}</p>
						<p><strong>вес (гр): </strong>{{color.color_weight_g}}</p> -->
						<span class="top">{{color.num}}N</span>
						<span class="bottom">{{color.weight|weight_g}}</span>
				</li>
				<li class="chem-element add-color" ng-click="addColor()"></li> 				
			</ul>
		</div>

		<div class="oxidant-info">
			<span class="oxidant-info-heading">Окислитель<i class="fa fa-flask" aria-hidden="true"></i></span>
			<ul>
				<li class="chem-element" ng-repeat="oxid in oxids">
					<span class="top">{{oxid.perc}}%</span>
					<span class="bottom">{{oxid.weight|weight_g }}</span>	
				</li>
				<li class="chem-element add-oxidant" ng-click="addOxidant()"></li>
			</ul>
			
				
		</div>		


	</div>	

	<!-- add color form  @TODO: move to directive -->
	<div class="modal-wrapper" ng-class="{'active':(colModalOpened)}">
		<div class="modal-inner	">			
			<form class="add-colouring-form" name="colorForm">
				<select class="color-name" ng-model="colorName">
					<option>wella1</option>
					<option>wella2</option>
				</select>
				
				<input type="number" name="color-number" ng-model="colorNum" placeholder="Номер краски" required>
				<p>Вес (гр)</p>
				<input type="number" name="color-weight" style="display:none;" ng-model="colorWeight.value">
				<rzslider class="custom-slider" rz-slider-model="colorWeight.value"></rzslider>
				<!-- <p>%</p>
				<input type="number" name="oxid-perc" style="display:none;" ng-model="percSlider.value">
				<rzslider class="custom-slider" rz-slider-model="percSlider.value"></rzslider> -->
			
				<div class="help-block">
					<p ng-show="validation.err">{{validation.err_text}}</p>
				</div>
				<div class="buttons-wrapper">
					<a href="" class="btn-simple btn-save btn-left" ng-click="saveColor()"></a>
					<a href="" class="btn-simple btn-close btn-right" ng-click="closeModal()"></a>	
				</div>

			</form>
		</div>		
	</div>

	<div class="modal-wrapper" ng-class="{'active':(oxidModalOpened)}">
		
		<div class="modal-inner	">			
			<form class="add-oxidant-form" name="oxidForm">	
				<p>Вес (гр)</p>
				<input type="number" name="oxidant-weight" style="display:none;" ng-model="oxidWeight.value">
				<rzslider class="custom-slider" rz-slider-model="oxidWeight.value"></rzslider>

				<p>%</p>
				<input type="number" name="oxid-perc" nd-model="oxidPerc.value" style="display:none;">
				<rzslider class="custom-slider" rz-slider-model="oxidPerc.value"></rzslider>
			
				<div class="help-block">
					<p ng-show="validation.err">{{validation.err_text}}</p>
				</div>
				<div class="buttons-wrapper">
					<a href="" class="btn-simple btn-save btn-left" ng-click="saveOxid()"></a>
					<a href="" class="btn-simple btn-close btn-right" ng-click="closeModal()"></a>	
				</div>

			</form>
		</div>		


	</div>
</div>
	
