<div class="add-contact-wrapper subpage-wrapper">

	<nav class="subpage-topbar">
		<h2 class="subpage-heading">НОВЫЙ КЛИЕНТ</h2>
		<a href="#" class="btn-back align-left"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
		<a href="#/" class="btn-save align-right"><i class="fa fa-check" aria-hidden="true"></i></a>	
	</nav>


	<div class="main subpage-content">
			<form class="add-client-form">

				<div class="main-info clearfix">
					<input class="avatar" type="image" name="image" src="http://via.placeholder.com/50x50">
					<input class="name" type="text" name="name" placeholder="Имя" required>
					<select class="sex">
						<option value="male">М</option>
						<option value="female">Ж</option>
						<option value="other">-</option>
					</select>	
				</div>
				

				<div class="form-section">
					<h4>Контактные данные</h4>
					<input type="phone" name="phone" placeholder="+9 999 999 99 99">
					<input type="email" name="email" placeholder="example@example.com">
					<input type="text" name="address" placeholder="Адрес">
					<input type="text" name="fb_page" placeholder="Facebook URL">
	
				</div>
				

				<div class="form-section" ng-controller="rangeController">
					<h4>Информация о волосах</h4>
					<p>Натуральный тон</p>
					<rzslider class="custom-slider" rz-slider-model="toneSlider.value"></rzslider>

					<p>% седины</p>
					<rzslider class="custom-slider" rz-slider-model="greySlider.value"></rzslider>

					<a href="#/add-colouring" class="btn-add-colouring"><i class="fa fa-paint-brush" aria-hidden="true"></i></a>

				</div>
				
				<div class="form-section">
					<h4>Другое</h4>
					<textarea>Пиши, что хочешь...</textarea>
	
				</div>
				
			</form>
		

	</div>


</div>