<div class="client-card-wrapper">
	<nav class="subpage-topbar">
		<h2 class="subpage-heading">КЛИЕНТ</h2>
		<a href="#!" class="btn-simple btn-back align-left"></a>
		
		<a href="#!/client-edit" class="btn-simple btn-edit align-right"></a>	
	</nav>

	<div class="main subpage-content">
		<div class="contact-header clearfix">
			<img src="http://unsplash.it/100/100">
			<div class="basic-info">
				<h1>{{client.name}}</h1>
				<h5>{{client.phone}}</h5>
				<div class="hair-info">
					<p>Натуральный тон: {{client.natural_tone}}</p>
					<p>% седины: {{client.grey_perc}}</p>
				</div>	
			</div>
			
			<div class="reach-client">
				<a href=""><i class="fa fa-phone" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
			</div>
		</div>

		<div class="tab-wrapper">
			<ul class="tabs clearfix">
				<li ng-class="{'active': (tabSelected == '1')}" ng-click='tabSelected=1'>
		      		Информация
		    	</li>
		    	<li ng-class="{'active': (tabSelected == '2')}" ng-click='tabSelected=2'>
		      		Окрашивания
		    	</li>
			</ul>

			<div class='tab-content'>
			    <div class="general-info" ng-show='tabSelected == 1'>
			       	<p><span>Адрес: </span>{{client.address}}</p>
				    <p><span>FB: </span>{{client.fb_page}}</p>
				    <p><span>Комментарии: </span>{{client.other}}</p>
		
			    </div>
			    <div class="color-list-wrapper" ng-show='tabSelected == 2'>
			    	<form class="filter">
			    	<!-- 	<label>Период:</label>
			    		<input type="date" name="from" id="fromdate"> -
			    		<input type="date" name="to" id="todate">
			    	 -->	<!-- <select>
			    			<option>Обмре</option>
			    			<option>Корни</option>
			    		</select> -->
			    		<input type="text" name="" placeholder="Искать" ng-model="colouring" >	
			    		<i class="fa fa-search" aria-hidden="true"></i>
			    	</form>
			    	<a href="#/add-colouring/{{client.id}}" class="btn-add-colouring btn-right"><i class="fa fa-paint-brush" aria-hidden="true"></i></a>	

			    	<ul class="coloring-list">
			    		<li ng-repeat="colouring in colourings | filter: {type: colouring} | orderBy: 'date'"><a href="#/colouring/{{colouring.id}}/{{client.name}}">
			    			<p> {{colouring.type}} </p>
			    			<span>{{colouring.date |date:'dd MM yyyy'}}</span>		
			    		</a></li>
			    	</ul>

			    </div>
			</div>
		

		</div>
		

	</div>



</div>
	