<div class="color-card-wrapper" ng-controller="ColorCardController as colorCtrl">
	
	<nav class="subpage-topbar">
		<h3 class="subpage-heading">ОКРАШИВАНИЯ</h3>
		<a href="#!" class="btn-back align-left"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
		
		<h4>{{colorCtrl.client_name}}</h4>
		<a href="#!" class="btn-home align-right"><i class="fa fa-home" aria-hidden="true"></i></a>
			
	</nav>

	<div class="subpage-content">
		<header class="color-header clearfix">
		
			<img src="http://unsplash.it/100/100">
			<h1>{{colorCtrl.colouring.type}}</h1>
			<span class="date">{{colorCtrl.colouring.date}}</span>
			<span class="price">{{colorCtrl.colouring.price | currency: "NIS "}}</span>

			<a href="#!/color-edit" class="btn-edit-color btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
		</header>

		<div class="main">

			<div class="color-info">
				<span class="color-info-heading">Краска<i class="fa fa-paint-brush" aria-hidden="true"></i></span>
				<ul>
					<li class="chem-element" ng-repeat="color in colorCtrl.colouring.colouring_data.colors">
						<!-- <p><strong>Название краски: </strong>{{color.name}}</p> -->
						<!-- <p><strong>№: </strong>{{color.color_num}}</p>
						<p><strong>вес (гр): </strong>{{color.color_weight_g}}</p> -->
						<span class="top">{{color.color_num}}N</span>
						<span class="bottom">{{color.color_weight_g|weight_g}}</span>
					</li>
				</ul>
			</div>
			
			<div class="oxidant-info">
				<span class="oxidant-info-heading">Окислитель<i class="fa fa-flask" aria-hidden="true"></i></span>	

				<!-- coloringData: {
					oxid: {	name: "oxid name" , num: 6, perc: 10 }, 
					color: [{ name: "Wella 1", num: 8.6, weight_gr: 40 },
						{ name: "Wella 2", num: 6, weight_gr: 30 }]
				}	 -->
				<div class="chem-element">
					<span class="top">{{colorCtrl.colouring.colouring_data.oxid_perc}}%</span>
					<span class="bottom">{{colorCtrl.colouring.colouring_data.oxid_weight_g |weight_g }}</span>	
				</div>
				
			</div>
			
		
		</div>
		


	</div>

	

</div>
