/******** Reset default margin and padding *******/
* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}


body {
    background-color: rgb(95, 91, 91);
   color:rgb(224, 223, 223);
    font-family: "Verdana", sans-serif;
}


h1 {
	font-size:1.4em;
}


h2 {
	font-size: 1.3em;
}


h3 {
	font-size: 1.1em;
}


h4 {
	text-align: center;
	text-decoration: underline;
}


#wrapper {
	width:1000px;
	margin:auto;
}


#game-scores {
	height:30px;
	text-align: right;
}


#gamedata {
	float:left;
	margin-top:10px;
}


#game-board {
	float:right;
}


#game-settings-div {
	clear:both;
	height:515px;
	margin-top:20px;
	padding:10px 15px;
	-webkit-box-shadow: inset 0px 0px 6px 5px rgba(74,74,74,1);
	-moz-box-shadow: inset 0px 0px 6px 5px rgba(74,74,74,1);
	box-shadow: inset 0px 0px 6px 5px rgba(74,74,74,1);
}


#game-settings-div h2 {
	text-align: center;
	color:rgb(224, 223, 223);
}


#help {
	position:absolute;
	width:600px;
	height:395px;
	border-radius: 5px;
	border: 2px solid rgb(42, 41, 41);
	left: 30%;
  	top: 170px;
  	background-color: rgb(66, 64, 64);
  	padding:20px;
  	-webkit-box-shadow: 0px 0px 90px 10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 90px 10px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 90px 10px rgba(0,0,0,0.75);
	visibility: hidden;
}


#help h1 {
	text-align: center;
	margin-bottom: 30px;
}



#help p {
	font-size:1.2em;
}



#help h5 {
	margin-top: 30px;
	text-align: right;
}


.setting {
	margin-bottom: 30px;
}


.setting h5 {
	margin-bottom: 10px;
}


#general-settings {
	height:250px;
	padding:10px;
}


#general-settings h4 {
	margin-bottom: 20px;
}


#players {
	list-style-type: none;
}


#players li {
	display: inline-block;
	position: relative;
}


#players li:hover {
	cursor: pointer;
}


.player-selected  {
	top: -10px;
}


/*************** Utils *****************/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}


.cf:after {
    clear: both;
}


.hidden {
	visibility: hidden;
}


.yellow {
	color:yellow;
}